body {
    margin: 0;
    font-family: 'DM Serif Display', serif;
    color: white;
    background: #202731;
    overflow-x: hidden;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}