body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 100px;
}

.card-container {
  width: 300px;
  height: 300px;
  margin: 50px;
}

.card {
  position: absolute;
  background-color: blue;
  width: 300px;
  height: 300px;
  transition: opacity 1s;
}

.bottom-card {
  background-color: red;
  width: 300px;
  height: 300px;
}

/* .card:hover {
  opacity: 0;
  transition: 1s;
} */

#card {
  position: absolute;
  background-color: blue;
  width: 300px;
  height: 300px;
}

#bottom-card {
  background-color: red;
  width: 300px;
  height: 300px;
}


.spacer {
  height: 300px;
  width: 300px;
  background-color: black;
}